---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api//chat.postMessage
    body:
      encoding: UTF-8
      string: token=SLACK_TOKEN&text=Hey%20I%20can%20post%20messages%21&channel=testing
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 0c4402a6-eef1-4239-8d42-a11fc0888c9b
      X-Oauth-Scopes:
      - identify,read,post,client,apps
      X-Accepted-Oauth-Scopes:
      - chat:write:bot,post
      X-Via:
      - haproxy-www-ohm5
    body:
      encoding: UTF-8
      string: '{"ok":true,"channel":"GLF134RE3","ts":"1562970291.000100","message":{"type":"message","subtype":"bot_message","text":"Hey
        I can post messages!","ts":"1562970291.000100","username":"Slack API Tester","bot_id":"BLF8Q8FJA"}}'
  recorded_at: Fri, 12 Jul 2019 22:26:32 GMT
recorded_with: VCR 5.0.0
